body {
  background-color: rgb(101, 114, 131);
  }

h1, h2, p {
    text-align: center;
 }


p {
  padding: 25px 50px 75px 100px;
      }

body {font-family: 'Roboto', sans-serif;
      }


h1 {
  font-family: 'Mukta', sans-serif;
      }
    

.div3{
  background-image: url("wavesfooter.jpg");
  background-color: #cccccc;
  height: 200px;
 }


.phone {
  width: 16px;
}


.responsive {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
  }


.icon{
  width: 30px;
}

/*icons*/

.icon { transition: all .2s ease-in-out; }
.icon:hover { transform: scale(2); }


/*responsive video*/ 


.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

        /* grid layout */ 

        body {
            margin: 40px;
          }
          
            .parent {
                display: grid;
                grid-template-columns: repeat(5, 1fr) 1.5fr;
                grid-template-rows: 10px repeat(4, 1fr) 30px;
                grid-column-gap: 7px;
                grid-row-gap: 7px;
              background-color:rgb(90, 94, 99);
              color: white;
          }

        .div1 { grid-area: 1 / 1 / 2 / 7; }
        .div2 { grid-area: 2 / 1 / 5 / 6; }
        .div3 { grid-area: 5 / 1 / 5 / 8; }
        .div4 { grid-area: 2 / 6 / 6 / 7; }
      
    /*media query for mobile*/


    @media screen and (max-width: 720px) {
      body {
        font-size: 70%;
        height: auto;
      }
    }
/*print query*/

@media print {
  * {
    font-size: 11pt;
    line-height: 11pt;
    background: none;
    color: #000;
    box-shadow: none;
    text-shadow: none;
    }
    
    h1 {
      line-height: 20pt;
    }
    p, h3, blockquote, ul, .div3 {
      font-family: sans-serif;
    }

    .div1, nav, .div4, img {
      display: none;
    }

    p, blockquote, h1, h3 {
      padding: 0px;
    }

    body{
      page-break-after: avoid;
      orphans:2;
      widows:2;
    }

    @page {
      margin: 1in;
    }
}

