body {background-color: rgb(101, 114, 131);}

h1, h2, p {
    text-align: center;
  }
  

.responsive {
    max-width: 100%;
    height: auto;
  }


/*set the active page class to any <li> that has the class*/
        .active a:link {
            background-color: rgb(90, 94, 99);
        }
        #hamburger {
            display: none;
        }

        /*format and position the main navigation menu*/
        nav {
            top: 0px;   
        }
        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        nav>ul li {
            position: relative; /*we must add a position to our main navigation bar so we can position a drop-down properly */
            text-align: center;
            font-weight: bold;
            color: rgb(50, 52, 59);
            float: left;
        }
        nav a {
            text-decoration: none;
            display: inline-block;
            border: none;
            padding: 15px 15px 15px 15px;
            width: 150px; /*this is important to set so our drop-down doesn't go across the page*/
            margin: 2px;
        }

        /*format all navigation <a> elements*/
        nav a:link{
            background-color:grey;
        }
        nav a:hover, nav a:focus {
            background-color: white;
        }
        nav a:active{
            background-color: white;
        }

        /*position sub-menu or drop-down*/
        nav ul>li ul {
            position: absolute;
            top: 100%;
            display: none;
        }
        nav ul ul li {
            float:none;
        }

        /*special hover to display the drop-down*/
        nav>ul>li:hover>ul{
            display: block;
        }
        /* Dropdown Button */


        /* grid layout */ 
        body {
            margin: 40px;
          }
          
            .parent {
                display: grid;
                grid-template-columns: repeat(5, 1fr) 1.5fr;
                grid-template-rows: 20px repeat(3, 1fr) 80px;
                grid-column-gap: 10px;
                grid-row-gap: 10px;
              background-color:rgb(90, 94, 99);
              color: white;
          }
      
         
      
        
        }

        .div1 { grid-area: 1 / 1 / 2 / 7; }
        .div2 { grid-area: 2 / 1 / 5 / 6; }
        .div3 { grid-area: 5 / 1 / 6 / 6; }
        .div4 { grid-area: 2 / 6 / 6 / 7; }
      

    /*media query for mobile*/

    @media only screen and (max-device-width: 480px) {

    }




@media screen and (min-width: 500px) {
    .parent {font-size: 150%;}
}

