body {
    background-color: rgb(101, 114, 131);
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    padding: 50px 0px;
}

.parent {
    width: 70%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

.parent.image {
    width: 55%;
}

.title {
    font-size: 50px;
    text-align: center;
    color: white;
    font-family: 'Mukta', sans-serif;
}

.subtitle {
    font-size: 35px;
    text-align: center;
    color: white;
    font-family: 'Mukta', sans-serif;
}

.text {
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.image {
    width: 350px;
    height: auto;
}

.media-wrapper {
    width: 25%;
}

.image-media-wrapper {
    width: 40%;
}

.media {
    width: 100%;
    height: auto;
}

/*table css*/
table.table {
    border: 3px solid #000000;
    width: 70%;
    text-align: center;
    color: black;
    background: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}

table.table td,
table.table th {
    border: 1px solid #D0E4F5;
}

table.table tbody td {
    font-size: 14px;
}

table.table tr:nth-child(even) {
    background: #D0E4F5;
}

table.table thead {
    background: #D0E4F5;
}

table.table thead th {
    font-weight: normal;
    text-align: center;
}

/*media query for mobile*/
@media screen and (max-width: 800px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .parent {
        width: 100%;
    }

    .parent.image {
        width: 100%;
    }

    .media-wrapper {
        width: 80%;
    }

    .image-media-wrapper {
        width: 80%;
    }
}

footer {
    background-image: url("wavesfooter.jpg");
    background-color: #cccccc;
    color: white;
}